.header {
  font-family: "Roboto", sans-serif;
}

.logout-btn {
  border: none;
  background-color: #ff7f47;
  /* margin-bottom: 10px; */
}
@media (max-width: 1400px) and (min-width: 689px) {
  .menu {
    margin-left: 500px;
    font-weight: 400;
  }
  .login-menu .nav-link,
  .login-menu .navbar-text,
  .login-menu .logout {
    display: flex;
    align-items: center;
  }
  .login-menu {
    display: flex;
  }
  .user {
    margin-left: 10px;
  }
  .logout-menu {
    margin-left: 250px;
    display: flex;
  }
  .logout-btn {
    margin-left: 20px;
    margin-bottom: 8px;
  }
}

@media (max-width: 688px) and (min-width: 220px) {
  .login-menu {
    display: block !important;
  }
  .logout-btn {
    margin-top: 15px;
    margin-right: 1px;
  }
}
