.header {
  font-family: "Roboto", sans-serif;
}
.logout-btn {
  border: none;
  background-color: #ff7f47;
}
@media (max-width: 1400px) and (min-width: 689px) {
  .menu {
    margin-left: 500px;
    font-weight: 400;
  }
  .login-menu {
    display: flex;
  }
  .logout-menu {
    margin-left: 250px;
    display: flex;
  }
  .logout-btn {
    margin-left: 20px;
  }
}

@media (max-width: 688px) and (min-width: 320px) {
  .logout-btn {
    margin-top: 15px;
    margin-right: 1px;
  }
}
