.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
}

@media (max-width: 1400px) and (min-width: 689px) {
  .carousel-item h4 {
    font-size: 32px;
  }
}

@media (max-width: 688px) and (min-width: 320px) {
  .carousel-item {
    height: 50vh;
  }
  .carousel-item img {
    height: 50vh;
  }
}
