.sidebar {
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(90deg, #fd746c, #ff9068);
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ); */
  color: white;
  height: 100vh;
}

.sidebar span {
  color: white;
}

nav {
  display: block;
  text-align: start;
}
nav li {
  list-style: none;
  color: white;
}
